div li{
    color: red;
}
div>p{
    font-size: 20px;
    color:blue;
}
p+ul{
    font-style: italic;
}
ul>li{
    font-family:"Times New Roman";
}
div+p{
    font-size: 100px;
}
p~ul{
    font-size: 100px;
}
p~span{
    font-family: "Franklin Gothic Book";
    color: rebeccapurple;
}
#a{
    visibility: hidden;
}
#b{
    display: inline;
}
#c{
    display: inline-block;
    height: 200px;
    width: 400px;
    background-color: blue;
}
#p1:hover{
    color: green;
}
#p1{
    color: red;
}
body{
    background-color: black;
}
#p2::first-line{
    color: pink;
}
#p2 {
    color: white;
    font-size: 40px;
}